In [1]:
import pandas as pd

## Module 3

This week, the mais objective is to use statistics to get
better insights during the data analysis.

We start by taking a quick peek at the dataframe.

In [2]:
consumers_df = pd.read_csv('desafio1.csv')

consumers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
RowNumber                   7000 non-null int64
id                          7000 non-null object
sobrenome                   7000 non-null object
pontuacao_credito           7000 non-null int64
estado_residencia           7000 non-null object
genero                      7000 non-null object
idade                       7000 non-null int64
nivel_estabilidade          7000 non-null int64
saldo_conta                 7000 non-null float64
numero_produtos             7000 non-null int64
possui_cartao_de_credito    7000 non-null int64
membro_ativo                7000 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.3+ KB

In [3]:
consumers_df.describe()

,RowNumber,pontuacao_credito,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,3500.500000,649.787000,38.892714,5.010286,76471.883751,1.526000,0.703286,0.512143
std,2020.870275,97.046279,10.465562,2.887500,62403.383911,0.583047,0.456842,0.499888
min,1.000000,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1750.750000,582.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000
50%,3500.500000,651.000000,37.000000,5.000000,97277.130000,1.000000,1.000000,1.000000
75%,5250.250000,717.000000,44.000000,7.250000,127537.155000,2.000000,1.000000,1.000000
max,7000.000000,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000

In [4]:
consumers_df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [5]:
consumers_df.estado_residencia.unique()

array(['SC', 'RS', 'PR'], dtype=object)

The first step is to split the consumers according to their respective states.
Then, the aggregate metrics (mean, median, mode and standard deviation) must be calculated
on the credit score.

In [14]:
grouped_consumers = consumers_df.groupby('estado_residencia').agg({
    'pontuacao_credito': [('moda', pd.Series.mode), ('mediana', 'median'),
                          ('media', 'mean'),  ('desvio_padrao', 'std')]
})

grouped_consumers

                  pontuacao_credito
                               moda mediana       media desvio_padrao
estado_residencia
PR                              850     650  648.961294     98.607186
RS                              850     650  651.105143     95.136598
SC                              850     653  649.537653     97.233493

After aggregating the scores, the final step consists of generatin a json file
with a structure similar to the following:
```json
{"state": {"moda": "mode", "mediana": "median",
"media": "mean", "desvio_padrao": "std"}}
```

In [21]:
# flattening the columns by removing 'pontuacao_credito' index
grouped_consumers.columns = grouped_consumers.columns.droplevel(0)
grouped_consumers

                   moda  mediana       media  desvio_padrao
estado_residencia
PR                  850      650  648.961294      98.607186
RS                  850      650  651.105143      95.136598
SC                  850      653  649.537653      97.233493

In [22]:
# parsing to json
grouped_consumers.to_json('submission.json', orient='index')