In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../train.csv', index_col='Unnamed: 0')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13730 entries, 1 to 4586
Columns: 166 entries, NU_INSCRICAO to Q050
dtypes: float64(28), int64(78), object(60)
memory usage: 17.5+ MB

Repeating simple preprocessing

In [3]:
correlated = ['NO_MUNICIPIO_ESC', 'NO_MUNICIPIO_RESIDENCIA',
                           'CO_MUNICIPIO_NASCIMENTO', 'CO_MUNICIPIO_PROVA']
print('Droping columns with missing values')
df = df.loc[:, (df.isna().sum() / df.shape[0]) * 100 < 50]
print('Dropping columns with constant values')
df = df.loc[:, df.nunique() > 1]
print('Dropping columns correlated')
cols = df.columns[np.isin(df.columns, correlated)]
df.drop(columns=cols, inplace=True)

df.describe()

Droping columns with missing values
Dropping columns with constant values
Dropping columns correlated

,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005,Q034,Q035,Q036,Q037,Q038,Q039,Q040
count,1.373000e+04,13730.000000,13730.000000,13202.000000,13730.000000,13730.000000,13121.000000,13730.000000,13730.000000,13730.000000,...,10133.000000,10133.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000
mean,3.088548e+06,30.736708,21.593809,0.116043,2.185652,1.048871,30.429159,1.782666,2.146176,1.353532,...,77.372446,529.048258,4.083467,4.645594,4.678441,3.341515,4.458995,3.724618,3.506409,4.442098
std,9.890495e+05,9.862405,7.043654,0.365986,1.007285,0.258895,9.670030,0.880734,3.217328,0.558472,...,43.067140,154.294758,1.603004,0.920998,0.865039,1.711930,1.200172,1.689362,1.718858,1.181549
min,1.100023e+06,11.000000,13.000000,0.000000,0.000000,0.000000,11.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.307650e+06,23.000000,17.000000,0.000000,1.000000,1.000000,23.000000,1.000000,0.000000,1.000000,...,40.000000,440.000000,3.000000,5.000000,5.000000,2.000000,5.000000,3.000000,2.000000,4.000000
50%,3.118601e+06,31.000000,19.000000,0.000000,3.000000,1.000000,31.000000,2.000000,0.000000,1.000000,...,80.000000,540.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000
75%,3.550308e+06,35.000000,23.000000,0.000000,3.000000,1.000000,35.000000,2.000000,3.000000,2.000000,...,100.000000,600.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,5.300108e+06,53.000000,67.000000,3.000000,5.000000,4.000000,53.000000,4.000000,10.000000,4.000000,...,200.000000,1000.000000,20.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

Checking graduation year column

In [4]:
df.TP_ST_CONCLUSAO.value_counts(normalize=True)

1    0.475164
2    0.311945
3    0.167953
4    0.044938
Name: TP_ST_CONCLUSAO, dtype: float64

In [6]:
df.IN_TREINEIRO.value_counts(normalize=True)


df.TP_ST_CONCLUSAO.isna().sum()

0